{% extends 'base.html' %}
{% block content %}
{% block title %}Add Local {% endblock%}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<div>
  <h1>New Local</h1>
  {% leaflet_map "main" callback="map_init" %}
</div>
    <form action="" method="post">{% csrf_token %} 
      <script type="text/javascript">
        //var map = L.map('map').setView([lat, lon], 12);
        function map_init(map, options) {
          
          
          map.on('click', function (e) {
            
            var lat = e.latlng.lat;
            var lon = e.latlng.lng;
            var marker = L.marker([lat, lon])
            marker.addTo(map)
            map.off('click')

            
        });
        }
        
      </script>       
      {{ form.as_p }}
     
      <input type="submit" value="Add">
    </form>
{% endblock content %}