{% extends 'base.html' %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<div>
  <h1>{{ local.name }}</h1>
  {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
  function map_init(map, options) {
    // get point lat and lon
    var lon = "{{ local.lon }}";
    var lat = "{{ local.lat }}";

    // zoom to point & add it to map
    map.setView([lat, lon], 12);
    L.marker([lat, lon]).addTo(map);
  }
</script>  

      
  <p>Address: {{ local.address }}</p>
  <p>City: {{ local.city }}</p>
  <p>Latitude: {{ local.lat }}</p>    
  <p>Longitude: {{ local.lon }}</p>
  <p>Area: {{ local.area }}</p>
  <p>Region: {{ local.region }}</p>
  <p>Visited: {{ local.visited }}</p>
    
    
    
  
  <a href="{% url 'local_update' local.pk %}">+ Update Local</a>
  <p><a href="{% url 'local_delete' local.pk %}">+ Delete Local</a></p>
{% endblock content %}