{% extends 'base.html' %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<div>
  <h1>Update Local</h1>
  {% leaflet_map "main" callback="map_init" %}
</div>
<form action="" method="post">{% csrf_token %} 
  <script type="text/javascript">
    //var map = L.map('map').setView([lat, lon], 12);
    function map_init(map, options) {
      
      //var lon = "{{ local.location.x }}";
      //var lat = "{{ local.location.y }}";
      map.on('click', function (e) {
        
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;
        var popup = `<form action="{% url 'add_local' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for=" Note">Add Note</label>
          
        </div>
        <input type="hidden" name="lat" value="${lat}">
        <input type="hidden" name="lon" value ="${lon}">
        <div class="form-group">
          <label for="note">Location</label>
          <textarea class='form-control' name="note_des" >Location note here</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>`;
        var marker = L.marker([lat, lon]).bindPopup(popup)
        marker.addTo(map)
        console.log(e)
        map.off('click')

        
    });
    }
    
  </script>       
  {{ form.as_p }}     
  <input type="submit" value="Add">
</form>
{% endblock content %}